@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "regularFont";
  src: url("/fonts/Aeonik-Regular.otf") format("truetype");
}

body, html {
  scroll-behavior: smooth;
}

body {
  list-style: none;
  font-family: "regularFont";
}

.wave-bg {
  background: url('./components/assets/wave.svg') no-repeat center top/100%  auto;  
}

.centered-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}